*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 100vh;
    padding:20px 10px ;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 150px;
    cursor: pointer;
}
nav .menu-img{
    width: 50px;
    cursor: pointer;
}
nav ul {
    flex: 1;
    text-align: right;
    margin-right: 150px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    position: relative;
    padding: 10px;

}
nav ul li a::before{
    content: '';
    width: 100%;
    height: 0px;
    background: #7bec3a;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom:-5px;
    border-bottom-left-radius:8px; 
    border-bottom-right-radius:8px; 
    transition: height 0.5s;
}
nav ul li a:hover::before{
    height: 85px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    position: relative;
}
.f-img{
    width: 100%;
    margin-top:10px;
}
.t-img{
    width: 280px;
    position: absolute;
    bottom: 10px;
    left: 0;
    border-radius: 8px;
    box-shadow: 20px 30px 30px rgba(200,200,200,.5);
}
.col h1{
    margin-top: 170px;
    font-size: 40px;
    font-weight: 600;
}
.col a{
    text-decoration: none;
    border-radius: 30px;
    padding: 18px 50px;
    background:#7bec3a;
    display: inline-block;
    color: black;
    font-weight: 700;
    margin-top: 70px;
    box-shadow: 3px 10px 8px rgba(200, 220, 200, 0.912);
}